## while keyword

In [1]:
a = [1, 2, 3, 4, 5]
i = 0

while i < 5 :
    print(a[i])
    
    i += 1

1
2
3
4
5

In [2]:
c = 1
print(c)
c += 2     # 처음 보는 기호인데 변수 c에다가 +2를 하라는 단축 용어인 듯, 유용!!
print(c)

1
3

### break, continue

In [3]:
# break
a = [1, 2, 3, 4, 5]
i = 0

while i < len(a) :
    if a[i] % 2 == 0:
        print(a[i],'break 실행!')
        break          # if문이 참이여야지 break로 들어가서 while이 중지됨

    print(a[i])
    i += 1
    
print('while 종료')

1
2 break 실행!
while 종료

#### break 위치에 따른 결과 보기

In [4]:
a = [1, 2, 3, 4, 5]
i = 0

while i < len(a) :
    if a[i] % 2 == 0:
        print(a[i],'break 실행!')
    break          # break를 if문의 블럭에 두지 않고 한 칸 들여쓰기 하니까 if문이 1번 실행되고 바로 루프가 끝남

    print(a[i])
    i += 1
    
print('while 종료')

while 종료

#### continue

In [5]:
a= 6
while a > 0 :
    a -= 1
    if a  == 3 :
        continue   # a==3 일때만 컨티뉴가 실행되어 아래의 print가 실행되지 않고 skip 됨
    
    print('current value', a)

current value 5
current value 4
current value 2
current value 1
current value 0

#### continue 위치에 따른 결과 보기

In [6]:
aa = 13
while aa > 0 :
    aa -= 1
    if aa  == 3 :
        print('1번 째 값', aa)
        continue   # a==3 일때만 컨티뉴가 실행되어 아래의 print가 실행되지 않고 skip 됨
    
    print('current value', aa)
print('while 종료')

current value 12
current value 11
current value 10
current value 9
current value 8
current value 7
current value 6
current value 5
current value 4
1번 째 값 3
current value 2
current value 1
current value 0
while 종료

## 짝수, 홀수 분리

In [7]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
ai = 0
a1 = []
a2 = []


while ai < 8 :
    if a[ai] % 2 == 0 :
        a2.append(a[ai])
        #print(a,'짝수')
        ai += 1
        continue
    else :
        a1.append(a[ai])
        #print(a1,'홀')
        ai += 1

                
print(a2, '짝수')
print(a1, '홀수')

[2, 4, 6, 8] 짝수
[1, 3, 5, 7] 홀수

#### 위의 코드보다 좀 더 심플하게 짠 것
 * ai += 1 과 continue 를 제거함

In [8]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
ai = 0
a1 = []
a2 = []


while ai < 8 :
    if a[ai] % 2 == 0 :
        a2.append(a[ai])
        
    else :
        a1.append(a[ai])
        
    ai += 1
        
print(a2, '짝수')
print(a1, '홀수')

[2, 4, 6, 8] 짝수
[1, 3, 5, 7] 홀수

## for 구문
 * for문을 이용한 짝수만 더하기

In [9]:
numbers = [1, 2, 3, 4, 5]
_sum = 0
for odd in numbers :
    if odd % 2 == 0 :
        _sum += odd
        
print('end', _sum)

end 6

### enumerate
 * 반목문 사용 시, 몇 번째 반복문인지 알고 싶을 때 사용
 * index와 컬렉션의 원소를 tuple 형태로 반환함

In [10]:
a = [10, 2, 52, 42, [123, 24]]

for i, num in enumerate(a):   # i, num 은 쉼표로 이어졌기 때문에 튜플의 형식
    print(i, num)
    print("index : {}, value: {}".format(i, num))

0 10
index : 0, value: 10
1 2
index : 1, value: 2
2 52
index : 2, value: 52
3 42
index : 3, value: 42
4 [123, 24]
index : 4, value: [123, 24]

* 구구단 만들기

In [11]:
a1 = [2,3,4,5,6,7,8,9]
b1 = [1,2,3,4,5,6,7,8,9]
zero1 = None
zero2 = None

for _dan in a1 :
    zero1 = _dan
    for _dan2 in b1 :
        zero2 = _dan2
        print(zero1,'*',zero2,'=', _dan * _dan2)
    print('-'*25, zero1,'단 끝','-'*25)   

print('$'*25, 'fin','$'*25)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
------------------------- 2 단 끝 -------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
------------------------- 3 단 끝 -------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
------------------------- 4 단 끝 -------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
------------------------- 5 단 끝 -------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
------------------------- 6 단 끝 -------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
------------------------- 7 단 끝 -------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
------------------------- 8 단 끝 -------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
------------------------- 9 단 끝 -------------------------
$$$$$$$$$$$$$$$$$$$$$$$$$ fin $$$$$$$$$$$$$$$$$$$$$$$$$

* **위와 다른 점은 빈 값의 변수(=zero)를 굳이 생성하지 않고 그대로 한 것**
<br>그래서 더 심플함

In [12]:
for xx in a1 :
    for yy in b1 :
        print(xx,'*',yy,'=',xx*yy)
    print('★'*8, xx,'단 끝')
print('구구단 종료')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
★★★★★★★★ 2 단 끝
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
★★★★★★★★ 3 단 끝
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
★★★★★★★★ 4 단 끝
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
★★★★★★★★ 5 단 끝
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
★★★★★★★★ 6 단 끝
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
★★★★★★★★ 7 단 끝
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
★★★★★★★★ 8 단 끝
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
★★★★★★★★ 9 단 끝
구구단 종료

#### range : 정수 리스트를 생성하는 함수
 * range(a, b) : a는 시작하는 정수, b는 끝 정수에서 바로 앞
                 a는 default 가 '0'이므로 굳이 안 써도 됨.
                 ex) range(4) 은 0, 1, 2, 3 까지
 * range(a, b, c) : c는 간격을 의미함. 인덱싱과 동일한 포맷

In [14]:
print(list(range(4)))

[0, 1, 2, 3]

In [26]:
a_list = list(range(1,100))
print(a_list,'<<<끝')
print(a_list[0::2],'<<<끝2')      # 이 코드와 아래 코드는 동일함
print(list(range(1,100,2)),'<<<끝3')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99] <<<끝
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99] <<<끝2
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99] <<<끝3

In [16]:
print(list(range(5,101,5)))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### 연습문제
1. 6277이 소수(나머지가 1과 자기자신만 있는 수)인지 아닌지 판단하시오
2. 주어진 리스트의 평균을 구하시오
3. 주어진 리스트에서 최대값, 최소값을 찾으시오(sort 사용하지 말고 작성)

In [17]:
# 연습문제1 내가 직접 푼 것
seven = 79
j_list = range(1, seven+1)
count = 0
for sosu in j_list :
    if seven % sosu == 0  :
        count = count + 1
                
if count > 2 :
    print(count, '나눠 떨어진 횟수 ||',seven,'is not 소수')
    
else :
    print(count, '나눠 떨어진 횟수 ||', seven,'is 소수') 

print('판단 끝')

2 나눠 떨어진 횟수 || 79 is 소수
판단 끝

* [연습문제1]아래가 좋은 예시...개고생해서 위에 것 만들었는데 ㅠㅠ

In [18]:
i_6277 = 389
k_list = range(2, i_6277)
result1 = ''

for sosuu in k_list :
    if i_6277 % sosuu == 0 :
        result1 ="소수 아님"
        break
    else :
        result1 ='소수임'
        
print(result1)

소수임

* [연습2]리스트 내에서 합계 및 평균 구하기

In [19]:
# 리스트 생성
a = [6, 44, 2, 3, 1]

In [46]:
sum99 = 0.0
for u in a :
    sum99 = sum99 + u
ave = len(list(a))
print('합계:',sum99,'|| 평균:',sum99/ave)
# sum 함수 사용하면 아래와 같음
print(float(sum(a)))
print(sum(a)/ave)

합계: 56.0 || 평균: 11.2
56.0
11.2

* [연습3]리스트 내 원소에서 최대, 최소 구하기
 - 위의 a 리스트 사용

In [21]:
kk , ww = a[1], a[1]  # a[1] 을 하는 이유는 a[0]인 '6' 부터 돌리게 되면 아래 if 함수가 작동을 안 함

for maxx in a :
    if maxx > kk :
        kk = maxx
    elif maxx < ww :
        ww = maxx
        
print(kk,ww)

44 1